<!DOCTYPE html>
<html>
  <head>
    <title>Bike Share!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/static/css/bikesharemap.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{gkey}}&sensor=false">
    </script>
    <!-- pull in the jquery library -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/load_markers.js"></script>
    <!-- pull in bootstrap -->
   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  </head>
  <body>
    <div id="intro">
      <div id="header">
        <a id="logo" href="http://bayareabikeshare.com/stations" target="_blank">
          <img src="/static/images/Bay_Area_Bike_Share_logo.jpg" alt="Bay Area Bike Share">  
        </a>
      </div>
      <div id="content">
      <h3>Find Optimal Bike Share Locations!</h3>
      <p>
        Currently, <a style="color: #84C8BF" href="http://bayareabikeshare.com/" target="_blank">Bay Area Bike Share</a> only has <a style="color: #84C8BF" href="http://www.bayareabikeshare.com/stations">35 stations</a> in San Francisco, and the stations are only located in the Financial District and SOMA area. My project suggests 100 optimal bike share locations based on a <a style="color: #84C8BF" href="http://sfbikeshare.sfmta.com/" target="_blank">crowdsourcing website.</a> I've also included the ability for the user to choose locations based on other criteria such as elevation or proximity to transportation. You can select any individual option or any combination of options to determine 100 optimal locations.
      </p>
      </div>
    </div>
    <div class="nav_bar">
      <div id="curr" class="icons">
        <img src='/static/images/rsz_baybike.png'> Current Stations</img>
      </div>
      <div id="top_one_icon" class="icons">
        <img src='/static/images/green_icon.png'> Top Optimized Location</img>
      </div>
      <div id="top_ten_icon" class="icons">
        <img src='/static/images/icon.png'> Top 5 Optimized Locations</img>
      </div>
      <div id="rest_icon" class="icons">
        <img src='/static/images/gray_icon.png'> Other Optimized Locations</img>
      </div>
    </div>
    <div id="map-canvas"/></div>
    <div id="legend">
      <div class="checkboxes">
        <p>
        <input id="elevation" name="elevation1" value="e" type="checkbox"></input>
        <label id="elevation_label">Elevation</label>
        <p>
        <input id="grocery" name="grocery1" value="g" type="checkbox"></input>
        <label id="grocery_label">Grocery Stores</label>
        <p>
        <input id="transportation" name="transportation1" value="t" type="checkbox"></input>
        <label id="transportation_label">Transportation</label>
        <p>
        <input id="food" name="food1" value="f" type="checkbox"></input>
        <label id="food_label">Restuarants/Cafes</label>
        <p>
        <input id="poi" name="poi1" value="o" type="checkbox"></input>
        <label id="poi_label">Points Of Interest</label>
      </div>
        <p>
          <input id="all_data" name="all_data1" value="a" type="checkbox"></input>
          <label id="all_data_label">All Source Data</label>
        <p>
    </div>
    <div id="footer">
      <div id="footer_left">
        Thanks to Bay Area Bike Share!
      </div>
      <div id="footer_right">
        <a href="http://github.com/aluhrs" style="color: #84C8BF">github.com/aluhrs</a>
      </div>
    </div>
  </body>
</html>