<!DOCTYPE html>
<html>
  <head>
    <title>Bike Share!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100%; width: 100% }
      #legend { background: white; padding: 10px; margin: 10px; border: 3px solid #000; z-index: 100; display: none;}
      #intro { background: white; padding: 10px; margin: 10px; border: 3px solid #000; z-index: 100; display: none;}
    </style>
    <!-- SAVE API KEY IN A SEPERATE FILE!! -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5k5lbiAeixFr-jxt4Oay-IAc0TgSp_To&sensor=false">
    </script>
    <!-- pull in the jquery library -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/load_markers.js"></script>
  </head>
  <body>
    <div id="map-canvas"/>
    <div id="header">
      <div id="logo">
        <img src="/static/images/bikesharelogo.jpeg" alt="Bay Area Bike Share">  
      </div>
    </div>
    <div id="intro">
      <h3>Find Optimal Bike Share Locations!</h3>
      <p>The cats show the optimal bike share locations based on a crowdsourcing website.
         Click on the checkboxes below to see the optimal locations change based on
         the criteria you choose.</p>
    </div>
    <div id="legend">
      <h3>Legend</h3>
      <div class="checkboxes">
      <form id="checkboxes" method="POST">
        <input id="elevation" name="elevation1" value="e" type="checkbox"></input>
        <label id="elevation_label">Elevation</label>
        <p>
        <input id="grocery" name="grocery1" value="g" type="checkbox"></input>
        <label id="grocery_label">Grocery Stores</label>
        <p>
        <input id="transportation" name="transportation1" value="t" type="checkbox"></input>
        <label id="transportation_label">Transportation</label>
        <p>
        <input id="food" name="food1" value="f" type="checkbox"></input>
        <label id="food_label">Restuarants/Cafes</label>
        <p>
        <input id="poi" name="poi1" value="o" type="checkbox"></input>
        <label id="poi_label">Points Of Interest</label>
        <p>
        <!--<input type="submit" id="form_submit" value="Get Opitmal Locations"></input>-->
      </form>
      </div>
    </div>
    </div>
  </body>
</html>